body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5e677d;
    color: white;
    overflow: visible;
}

header {
    background-color: #424b62;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #424b62;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424b62;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ffb366;
    color: #242b3f;
  }
  
  .active {
    background-color: #242b3f;
    color: #ffffff;
  }

/* Page transition effect */
.page-content {
    transition: opacity 0.5s ease-in-out;
}

/* Hide content initially */
.page-hidden {
    opacity: 0;
}

main {
    padding: 20px;
}

.container1 {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
  padding-top: 15px;
  padding-bottom: 10px;
}

.container1 img {
  width: 50%; /* Set image width */
  margin-right: 20px; /* Add space between image and text */
}

.container1 p {
  font-size: 16px; /* Set font size for text */
  line-height: 1.5; /* Set line height for better readability */
}

.container2 img{
  width: 100%; /* Set image width */
  margin-right: 20px; /* Add space between image and text */
}

.container4 {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
  padding-top: 25px;
  padding-bottom: 25px;
}

.container4 p {
  font-size: 16px; /* Set font size for text */
  line-height: 1.5; /* Set line height for better readability */
}

.container5 p{
  color: #ffb366;
}

@media (max-width: 640px)
{
  .container1{
    display: none;
  }
}

@media (max-width: 640px)
{
  .container4{
    display: none;
  }
}

@media (max-width: 640px)
{
  .container2{
    display: flex;
    align-items: center; /* Align items vertically */
    padding-top: 25px;
    padding-bottom: 1px;
    font-size: 16px; /* Set font size for text */
  line-height: 1.5; /* Set line height for better readability */
  }
}

@media (min-width: 640px)
{
  .container2{
    display: none;
  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #ffb366;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #242b3f transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #ffb366;
  color: #424b62;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #ff8c1a;
}

.container3 {
  border-radius: 5px;
  background-color: #424b62;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}