body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #818796;
    color: white;
}

header {
    background-color: #424b62;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #424b62;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424b62;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #242b3f;
  }
  
  .active {
    background-color: #242b3f;
    color: #ffffff;
  }

/* Page transition effect */
.page-content {
    transition: opacity 0.5s ease-in-out;
}

/* Hide content initially */
.page-hidden {
    opacity: 0;
}

main {
    padding: 20px;
}

.container1 {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
  padding-top: 50px;
  padding-bottom: 50px
}

.container1 img {
  width: 50%; /* Set image width */
  margin-right: 20px; /* Add space between image and text */
}

.container1 p {
  font-size: 16px; /* Set font size for text */
  line-height: 1.5; /* Set line height for better readability */
}